<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Base Module Properties -->
	<id>org.bahmni.module.medication-administration</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${MODULE_PACKAGE}</package>
	<author>Bahmni</author>
	<description>${project.parent.description}</description>

	<require_version>2.7.0</require_version>

	<require_modules>
		<require_module>org.openmrs.module.webservices.rest</require_module>
		<require_module>org.openmrs.module.fhir2</require_module>
	</require_modules>

	<activator>org.openmrs.module.ipd.api.MedicationAdministrationActivator</activator>
</module>

